.divButton{
    text-align: center;
    margin-top: 20%;
}

.ctButton{
    background-color: rgb(224, 248, 249);
    border-color: #4c8fd1;
    border-radius: 10px;
    margin: auto;
}

.ctButton.dark{
    background-color: #2865a2;
    border-color: #4c8fd1;
    color: rgb(224, 248, 249);
    border-radius: 10px;
    margin: auto;
}

body {
    background-color: rgb(224, 248, 249);
    margin: 0%
}

body.dark{
    background-color: #2865a2;
    color: rgb(206, 236, 251);
}

.navbarColor{
    background-color: #4c8fd1;
    color: rgba(0, 0, 0, 0.55);
}

.navbarColor.dark{
    background-color: #14395e;
    color: rgba(255, 255, 255, 0.55);
}
