
/* INDEX PAGE */

.welcome{
  text-align: center;
  margin-top: 20vh;
}

.cat{
  height: 25vh;
  padding-top: 5%;
}

/* HTML PAGE */

.langAnalogy{
  margin-left: 5%;
  opacity: 0.7;
}

/* API PAGE */

.workAPI{
  margin-left: 2%;
  opacity: 0.7;
  width: 164vmin;
}

/* MER PAGE */

.imgMER{
  margin: 0% 0% 2% 20%;
  border-radius: 6%;
  border: rgb(1, 1, 107) solid 2px;
}

/* DER PAGE */

.imgDER{
  margin-left: 15%;
  margin-bottom: 2%;
  border-radius: 6%;
  border: rgb(1, 1, 107) solid 2px;
  height: 80vmin;
}




