
/* INDEX PAGE */

.welcome{
  text-align: center;
  margin-top: 15%;
}

.cat{
  width: 35%;
  height: 35%;
  padding-top: 5%;
}

/* HTML PAGE */

.langAnalogy{
  margin-left: 5%;
  opacity: 0.7;
}

/* CSS PAGE */



/* JAVASCRIPT PAGE */



/* C# PAGE */


