body {
    background-color: rgb(224, 248, 249);
    margin: 0%
  }

p {
    font-style: italic;
}

/* TEXT */
.title {
    color: rgb(1, 1, 107);
    margin: 3% 3% 3% 2%;
    text-decoration: underline;
    text-align: center;
}

/* IMAGE LANGUAGE */
.logo-lang{
    float: left;
    margin: 0% 2% 0% 2%;
    max-width: 30vh;
    border-radius: 10%;
}

.text {
    text-align: justify;
    color: rgba(0, 0, 0, 0.7);
    margin: 0% 3% 2% 2%;
    font-size: large;
}

/* DIV */
.container {
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 0.7);
    border: rgb(1, 1, 107) solid 2px;
    border-radius: 2%;
}

/* LINKS */
.hyperlink{
    color: #4c8fd1;
    text-decoration: underline;
    cursor: pointer;
}

.hyperlink:hover{
    color: rgb(26, 90, 154);
    text-decoration: none;
    cursor: pointer;
}