/* DIV VALIDAÇÃO */

#divVal{
    margin: 8% 30% 5% 30%;
    background-color: rgba(255, 255, 255, 0.7);
    border: rgb(1, 1, 107) solid 2px;
    border-radius: 2%;
}

/* DIV DESCRIPTION */
.divDesc{
    width: 60vmin;
    height: auto;
    text-align: justify;
}

/* DIV FORMS */
.divForms{
    margin: 0%;
    width: 60vmin;
}

/* FORMS CADASTRO */

#getName, #getEmailName, #getEmailType, #getCell, 
#getCivilState, #getCPF, #getCEP, #getState, #getUF, 
#getCity, #getDis, #getAdr{
    display: table-cell;
    margin: 2%;
    border-color: rgb(224, 248, 249);
    border-top: none;
    border-left: none;
    border-right: none;
}


/* NAME INPUT */
#getName{
    width: 46vmin;
}

/* EMAIL INPUT */
#getEmailName, #getEmailType{
    width: 22vmin;
    margin: 1%;
    height: 4vmin;
}

/* DIVISOR LINE */
hr.divisor{
    width: 60vmin;
    border-top: 8px solid #4c8fd1;
    border-radius: 5px;
}

/* POPUP CONTAINER */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* POPUP */
.popup .popuptext {
    visibility: hidden;
    width: 300px;
    background-color: #028a0f;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 75%;
    left: 40%;
    margin-left: -80px;
}
  
/* POPUP ARROW */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
/* HIDE/SHOW POPUP */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
  
/* ANIMATION (FADE IN POPUP) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}